
/****** NAV ******/
@media only screen and (min-width: 2000px) {
    .gp-logo {
        margin: 40px 40px;
        font-size: 55px;
    }

    nav ul li a {
        margin-right: 40px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .gp-logo {
        margin: 40px 40px;
        font-size: 50px;
    }

    nav ul li a {
        font-size: 35px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .gp-logo {
        margin: 30px 30px;
        font-size: 45px;
    }

    nav ul li a {
        font-size: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 1540px) and (min-width: 1300px) {
    .gp-logo {
        margin: 25px 25px;
    }

    nav ul li a {
        font-size: 25px;
    }
}


@media only screen and (max-width: 936px) {
    .gp-logo {
        font-size: 30px;
    }

    nav ul li a {
        margin: 30px 5px;
    }
}

@media only screen and (max-width: 892px) {
    .gp-logo {
        font-size: 25px;
    }

    nav ul li a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 802px) {
    .gp-logo {
        margin: 10px 10px;
        font-size: 25px;
    }

    nav ul li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 712px) {
    .gp-logo {
        margin: 20px 10px;
        font-size: 25px;
    }

    nav ul li a {
        margin: 20px 2px;
    }
    
    .togglebtn {
        display: flex;
    }

    nav {
        display: none;
        width: 100%;
    }

    .navbar-div {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: #2493BD;
    }

    nav li {
        text-align: center;
        border: 1px solid black;
    }

    nav ul li a {
        border-radius: 0px;
        padding: .5rem 1rem;
        margin: 0px;
    }

    nav.active {
        display: flex;
    }
}



/****** HOME ******/

/* .COVID AD CONTENT */
@media only screen and (min-width: 2000px) {
    .covid_ad h1 {
        font-size: 2.8rem;
    }

    .covid_ad p {
        font-size: 1.8rem;
    }

    .red_button {
        
        font-size: 1.8rem;
        height: 70px;
        width: 600px;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .covid_ad h1 {
        font-size: 2.6rem;
    }

    .covid_ad p {
        font-size: 1.6rem;
    }

    .red_button {
        
        font-size: 1.6rem;
        width: 600px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .covid_ad h1 {
        font-size: 2.4rem;
    }

    .covid_ad p {
        font-size: 1.4rem;
    }

    .red_button {
        
        font-size: 1.4rem;
        width: 500px;
    }
}


@media only screen and (max-width: 1540px) {
    .block {
        width: 1500px;
    }

    .red_button {
        width: 400px;
    }
    
}

@media only screen and (max-width: 940px) {
    .covid_ad p {
        font-size: 1rem;
    }

    .red_button {
        width: 300px;
    }
}

@media only screen and (max-width: 925px) {
    .covid_ad {
        background-image: none;
        background-color: #2E2D2F;
    }

    .block {
        display: none;
    }

    .covid_ad p {
        font-size: 1.2rem;
        padding: 0px 20px;
        text-align: center;
    }

    .red_button {
        width: 400px;
    }
}

@media only screen and (max-width: 575px) {
    .covid_ad p {
        font-size: 1rem;
    }

    .red_button {
        width: 300px;
    }
}

@media only screen and (max-width: 430px) {
    .covid_ad {
        width: 100%;
    }
    
    .covid_ad h1 {
        font-size: 1.6rem;
    }

    .red_button {
        height: 35px;
        width: 250px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 350px) {
    .red_button {
        height: 35px;
        width: 175px;
        font-size: 1rem;
    }
}



/* .COVID INFO CONTENT */
@media only screen and (min-width: 2000px) {
    .covid_info h2 {
        font-size: 2.4rem;
    }
    
    .covid_info iframe {
        width: 1300px;
        height: 800px;
    }  
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .covid_info h2 {
        font-size: 2rem;
    }
    
    .covid_info iframe {
        width: 1000px;
        height: 600px;
    }  
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .covid_info h2 {
        font-size: 1.8rem;
    }
    
    .covid_info iframe {
        width: 900px;
        height: 500px;
    }    
}

@media only screen and (max-width: 980px) {
    .covid_info h2 {
        font-size: 1.3rem;
    }
    
    .covid_info iframe {
        width: 750px;
        height: 450px;
    }
}

@media only screen and (max-width: 830px) {
    .covid_info h2 {
        font-size: 1.2rem;
    }
    
    .covid_info iframe {
        width: 650px;
        height: 350px;
    }
}

@media only screen and (max-width: 700px) {    
    .covid_info iframe {
        width: 550px;
        height: 300px;
    }
}

@media only screen and (max-width: 590px) {
    .covid_info iframe {
        width: 450px;
        height: 250px;
    }
}

@media only screen and (max-width: 480px) {
    .covid_info iframe {
        width: 100%;
    }
}


/* .APP PROMPT CONTENT */
@media only screen and (min-width: 2000px) {
    .app_prompt {
        height: 900px;
    }
    
    .appointment_image {
        width: 1500px;
    }
    
    .appointment_text h1 {
        font-size: 2.8rem;
    }

    .appointment_text p {
        font-size: 1.8rem;
    }

    .app_btn {
        height: 80px;
        width: 800px;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .app_prompt {
        height: 800px;
    }
    
    .appointment_image {
        width: 1000px;
    }
    
    .appointment_text h1 {
        font-size: 2.6rem;
    }

    .appointment_text p {
        font-size: 1.6rem;
    }

    .app_btn {
        height: 70px;
        width: 700px;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .appointment_image {
        background-image: url("book_online2.jpg");
        width: 1000px;
    }
    
    .appointment_text h1 {
        font-size: 2.4rem;
    }

    .appointment_text p {
        font-size: 1.4rem;
    }

    .app_btn {
        width: 600px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1540px) and (min-width: 1250px) {
    
    .appointment_text h1 {
        font-size: 2.2rem;
    }

    .appointment_text p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1120px) {
    .appointment_text h1 {
        margin-bottom: 20px;
    }

    .appointment_text p {
        margin-bottom: 20px;
    }

    .app_btn {
        width: 400px;
    }
}

@media only screen and (max-width: 1070px) {
    .appointment_text h1 {
        font-size: 1.8rem;
    }
    
    .appointment_text p {
        font-size: 1rem;
    }
    
    .app_btn {
        width: 300px;
    }
}

@media only screen and (max-width: 935px) {
    .appointment_image {
        width: 600px;
    }
}

@media only screen and (max-width: 835px) {
    .app_prompt {
        height: 500px;
    }

    .appointment_image {
        width: 500px;
    }

    .appointment_text h1 {
        font-size: 1.6rem;
    }
    
    .appointment_text p {
        font-size: 0.9rem;
    }
    
    .app_btn {
        width: 250px;
    }
}

@media only screen and (max-width: 780px) {
    .app_prompt {
        width: 80%;
        align-self: center;
    }

    .appointment_text {
        width: 100%;
        margin: 10px 20px 10px 20px;
    }

    .appointment_image {
        display: none;
    }
    
    .appointment_text p {
        font-size: 0.9rem;
    }
    
    .app_btn {
        width: 400px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 590px) {
    .appointment_text h1 {
        font-size: 1.4rem;
    }

    .app_btn {
        width: 300px;
    }
}

@media only screen and (max-width: 455px) {
    .app_prompt {
        height: 650px;
    }
}

@media only screen and (max-width: 430px) {
    .app_prompt {
        width: 100%;
    }
}

/* .FLU AD CONTENT */
@media only screen and (min-width: 2000px) {
    .flu_ad {
        height: 450px;
    }
    
    .flu_content h1 {
        font-size: 2.8rem;
    }

    .flu_content p {
        font-size: 2rem;
    }

    .flu_btn {
        font-size: 2rem;
        width: 800px;
        height: 70px;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .flu_ad {
        height: 400px;
    }
    
    .flu_content h1 {
        font-size: 2.6rem;
    }

    .flu_content p {
        font-size: 1.8rem;
    }

    .flu_btn {
        font-size: 1.8rem;
        width: 800px;
        height: 70px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .flu_ad {
        height: 400px;
    }

    .flu_content h1 {
        font-size: 2.4rem;
    }

    .flu_content p {
        font-size: 1.6rem;
    }

    .flu_btn {
        font-size: 1.6rem;
        width: 800px;
        height: 60px;
    }
}

@media only screen and (max-width: 1540px) and (min-width: 1300px) {
    .flu_content h1 {
        font-size: 2.2rem;
    }

    .flu_content p {
        font-size: 1.4rem;
    }

    .flu_btn {
        font-size: 1.4rem;
        width: 600px;
    }
}

@media only screen and (max-width: 818px) {
    .flu_ad {
        height: 320px;
    }

    .flu_btn {
        width: 400px;
    }
}

@media only screen and (max-width: 700px) {
    .flu_content h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .flu_content p {
        margin: 0px 40px 20px 40px;
    }
}

@media only screen and (max-width: 610px) {
    .flu_content h1 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .flu_content p {
        font-size: 1rem;
        margin: 0px 40px 20px 40px;
    }

    .flu_btn {
        font-size: 1rem;
        width: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .flu_content h1 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .flu_content p {
        margin: 0px 30px 20px 30px;
    }

    .flu_btn {
        height: 40px;
        width: 250px;
    }
}

@media only screen and (max-width: 430px) {
    .flu_ad {
        height: 350px;
        width: 100%;
    }
}

/* .PRESC & TEST PROMPT CONTENT */
@media only screen and (min-width: 2000px) {
    .presc_prompt, .test_prompt {
        height: 500px;
    }
    
    .presc_prompt h1, .test_prompt h1 {
        font-size: 2.6rem;
    }
    
    .presc_prompt p, .test_prompt p {
        font-size: 1.8rem;
    }

    .presc_btn, .test_btn  {
        width: 800px;
        height: 70px;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .presc_prompt h1, .test_prompt h1 {
        font-size: 2.4rem;
    }
    
    .presc_prompt p, .test_prompt p {
        font-size: 1.6rem;
    }

    .presc_btn, .test_btn  {
        width: 700px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1490px) {
    .presc_prompt h1, .test_prompt h1 {
        font-size: 2.2rem;
    }
    
    .presc_prompt p, .test_prompt p {
        font-size: 1.4rem;
    }

    .presc_btn, .test_btn  {
        width: 600px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1040px) {
    .presc_btn, .test_btn {
        width: 400px;
    }
}

@media only screen and (max-width: 850px) {
    .presc_btn, .test_btn {
        width: 350px;
    }
}

@media only screen and (max-width: 780px) {
    .presc_test_prompts {
        flex-direction: column;
        width: 80%;
        align-self: center;
    }

    .presc_prompt, .test_prompt {
        border: none;
    }

    .presc_btn, .test_btn  {
        width: 400px;
    }
}

@media only screen and (max-width: 550px) {
    .presc_btn, .test_btn  {
        width: 300px;
    }
}

@media only screen and (max-width: 430px) {
    .presc_test_prompts {
        width: 100%;
    }

    .presc_prompt h1, .test_prompt h1 {
        font-size: 1.6rem;
    }
    
    .presc_prompt p, .test_prompt p {
        font-size: 1rem;
    }

    .presc_btn, .test_btn  {
        width: 300px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 340px) {
    .presc_btn, .test_btn  {
        width: 250px;
    }
}


/****** APPOINTMENTS ******/

/* .APPOINTMENTS CONTENT */
@media only screen and (min-width: 2000px) {
    .appointments {
        margin: 100px 100px 60px 100px;
    }

    .appointments h1 {
        font-size: 3.4rem;
    }
    .appointments p {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .appointments {
        margin: 80px 80px 40px 80px;
    }

    .appointments h1 {
        font-size: 3.2rem;
    }
    .appointments p {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .appointments h1 {
        font-size: 3rem;
    }
    .appointments p {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1540px) and (min-width: 1300px) {    
    .appointments h1 {
        font-size: 2.8rem;
    }
    .appointments p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 720px) {
    .appointments {
        margin: 45px 45px 40px 45px;
    }
    
    .appointments h1 {
        font-size: 2.2rem;
    }
    .appointments p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 460px) {
    .appointments {
        margin: 30px 30px 30px 30px;
    }
    
    .appointments h1 {
        font-size: 2rem;
    }
    .appointments p {
        font-size: 1rem;
    }
}

/* .MED APP CONTENT */
@media only screen and (min-width: 2000px) {
    .me_block {
        height: 430px;
    }
    
    .me_block h2 {
        font-size: 2.6rem;
    }
    
    .me_block p {
        font-size: 1.8rem;
    }
    
    .med_btn {
        width: 800px;
        height: 70px;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .me_block {
        height: 430px;
    }
    
    .me_block h2 {
        font-size: 2.4rem;
    }
    
    .me_block p {
        font-size: 1.6rem;
    }
    
    .med_btn {
        width: 700px;
        height: 70px;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .me_block {
        height: 430px;
    }
    
    .me_block h2 {
        font-size: 2.2rem;
    }
    
    .me_block p {
        font-size: 1.4rem;
    }
    
    .med_btn {
        width: 600px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1072px) {
    .med_btn {
        width: 400px;
    }
}

@media only screen and (max-width: 850px) {  
    .me_block h2 {
        font-size: 1.6rem;
    }
    
    .me_block p {
        font-size: 1rem;
    }
    
    .med_btn {
        width: 300px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 700px) {  
    .medical_appointments {
        justify-content: center;
    }
    
    .me_block {
        width: 80%;
    }
    
    .me_block h2 {
        font-size: 2rem;
    }
    
    .me_block p {
        font-size: 1.2rem;
    }
    
    .med_btn {
        width: 400px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 560px) {
    .me_block {
        height: 350px;
    }
    
    .me_block h2 {
        font-size: 1.8rem;
    }
    
    .me_block p {
        font-size: 1.1rem;
    }
    
    .med_btn {
        width: 300px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 450px) {
    .me_block {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .me_block {
        height: 400px;
    }
    
    .me_block h2 {
        font-size: 1.6rem;
    }
    
    .me_block p {
        font-size: 1rem;
    }
    
    .med_btn {
        width: 200px;
        font-size: 1rem;
    }
}

/* .ADMIN ENQUIRY CONTENT */
@media only screen and (min-width: 2000px) {
    .ae_block {
        height: 430px;
    }
    
    .ae_block h2 {
        font-size: 2.6rem;
    }
    
    .ae_block p {
        font-size: 1.8rem;
    }
    
    .enquiry_btn {
        width: 800px;
        height: 70px;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .ae_block {
        height: 430px;
    }
    
    .ae_block h2 {
        font-size: 2.4rem;
    }
    
    .ae_block p {
        font-size: 1.6rem;
    }
    
    .enquiry_btn {
        width: 700px;
        height: 70px;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .ae_block {
        height: 430px;
    }
    
    .ae_block h2 {
        font-size: 2.2rem;
    }
    
    .ae_block p {
        font-size: 1.4rem;
    }
    
    .enquiry_btn {
        width: 600px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1072px) {
    .enquiry_btn {
        width: 400px;
    }
}

@media only screen and (max-width: 850px) {  
    .ae_block h2 {
        font-size: 1.6rem;
    }
    
    .ae_block p {
        font-size: 1rem;
    }
    
    .enquiry_btn {
        width: 300px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 700px) {  
    .admin_enquiry {
        justify-content: center;
    }
    
    .ae_block {
        width: 80%;
    }
    
    .ae_block h2 {
        font-size: 2rem;
    }
    
    .ae_block p {
        font-size: 1.2rem;
    }
    
    .enquiry_btn {
        width: 400px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 560px) {
    .ae_block {
        height: 350px;
    }
    
    .ae_block h2 {
        font-size: 1.8rem;
    }
    
    .ae_block p {
        font-size: 1.1rem;
    }
    
    .enquiry_btn {
        width: 300px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 450px) {
    .ae_block {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .ae_block {
        height: 400px;
    }
    
    .ae_block h2 {
        font-size: 1.6rem;
    }
    
    .ae_block p {
        font-size: 1rem;
    }
    
    .enquiry_btn {
        width: 200px;
        font-size: 1rem;
    }
}

/* .FLU APP CONTENT */
@media only screen and (min-width: 2000px) {
    .flu_block {
        height: 430px;
    }
    
    .flu_block h2 {
        font-size: 2.6rem;
    }
    
    .flu_block p {
        font-size: 1.8rem;
    }
    
    .vaccine_btn {
        width: 800px;
        height: 70px;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .flu_block {
        height: 430px;
    }
    
    .flu_block h2 {
        font-size: 2.4rem;
    }
    
    .flu_block p {
        font-size: 1.6rem;
    }
    
    .vaccine_btn {
        width: 700px;
        height: 70px;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .flu_block {
        height: 430px;
    }
    
    .flu_block h2 {
        font-size: 2.2rem;
    }
    
    .flu_block p {
        font-size: 1.4rem;
    }
    
    .vaccine_btn {
        width: 600px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1072px) {
    .vaccine_btn {
        width: 400px;
    }
}

@media only screen and (max-width: 850px) {  
    .flu_block h2 {
        font-size: 1.6rem;
    }
    
    .flu_block p {
        font-size: 1rem;
    }
    
    .vaccine_btn {
        width: 300px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 700px) {  
    .flu_appointment {
        justify-content: center;
    }
    
    .flu_block {
        width: 80%;
    }
    
    .flu_block h2 {
        font-size: 2rem;
    }
    
    .flu_block p {
        font-size: 1.2rem;
    }
    
    .vaccine_btn {
        width: 400px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 560px) {
    .flu_block {
        height: 350px;
    }
    
    .flu_block h2 {
        font-size: 1.8rem;
    }
    
    .flu_block p {
        font-size: 1.1rem;
    }
    
    .vaccine_btn {
        width: 300px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 450px) {
    .flu_block {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .flu_block {
        height: 400px;
    }
    
    .flu_block h2 {
        font-size: 1.6rem;
    }
    
    .flu_block p {
        font-size: 1rem;
    }
    
    .vaccine_btn {
        width: 200px;
        font-size: 1rem;
    }
}



/****** FORM ******/
@media only screen and (min-width: 2000px) {
    .medical_form h1 {
        font-size: 3.2rem;
    }

    .medical_form .input_length {
        font-size: 2rem;
    }

    form {
        font-size: 2rem;
    }
    
    .input_length {
        width: 800px;
    }

    .checkboxes input {
        transform: scale(1.8);
    }

    .medical_form .button {
        height: 60px;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .medical_form h1 {
        font-size: 3rem;
    }

    .medical_form .input_length {
        font-size: 1.8rem;
    }

    form {
        font-size: 1.8rem;
    }
    
    .input_length {
        width: 700px;
    }

    .checkboxes input {
        transform: scale(1.5);
    }

    .medical_form .button {
        height: 50px;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1540px) {
    .medical_form h1 {
        font-size: 2.8rem;
    }

    .medical_form .input_length {
        font-size: 1.5rem;
    }

    form {
        font-size: 1.5rem;
    }
    
    .input_length {
        width: 600px;
    }

    .checkboxes input {
        transform: scale(1.2);
    }

    .medical_form .button {
        height: 50px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 700px) {    
    .input_length {
        width: 450px;
    }
}

@media only screen and (max-width: 600px) {
    .medical_form h1 {
        font-size: 2.2rem;
    }
    
    .input_length {
        width: 350px;
    }
}

@media only screen and (max-width: 460px) {
    .medical_form h1 {
        font-size: 1.8rem;
    }
    
    form {
        width: 100%;
        font-size: 1rem;
    }

    .medical_form .input_length {
        font-size: 0.9rem;
    }

    .input_length {
        width: 300px;
    }
}

@media only screen and (max-width: 380px) {
    .medical_form h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .input_length {
        width: 200px;
    }
}



/****** FOOTER ******/
@media only screen and (min-width: 2000px) {
    .footer {
        height: 250px;
    }
    
    .contacts {
        margin-left: 60px;
    }

    .contacts h2 {
        font-size: 2.4rem;
        margin-bottom: 6px;
    }

    .contacts li {
        font-size: 1.6rem;
    }

    .pin img, .email img, .phone img {
        height: 35px;
    }

    .pin, .email, .phone {
        margin-bottom: 6px;
    }
    
    .socials {
        margin-right: 60px;
    }

    .socials img {
        height: 80px;
    }
    
    .copyright {
        font-size: 1.6rem;
    }
}


@media only screen and (max-width: 2000px) and (min-width: 1540px) {
    .footer {
        height: 250px;
    }

    .contacts {
        margin-left: 60px;
    }

    .contacts h2 {
        font-size: 2rem;
        margin-bottom: 6px;
    }

    .contacts li {
        font-size: 1.4rem;
    }

    .pin img, .email img, .phone img {
        height: 30px;
    }

    .pin, .email, .phone {
        margin-bottom: 6px;
    }
    
    .socials {
        margin-right: 60px;
    }

    .socials img {
        height: 80px;
    }
    
    .copyright {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1540px) and (min-width: 1300px) {
    .contacts {
        margin-left: 40px;
    }

    .contacts h2 {
        font-size: 1.7rem;
        margin-bottom: 4px;
    }

    .contacts li {
        font-size: 1.2rem;
    }

    .pin img, .email img, .phone img {
        height: 25px;
    }

    .pin, .email, .phone {
        margin-bottom: 4px;
    }
    
    .socials {
        margin-right: 40px;
    }

    .socials img {
        height: 65px;
    }
    
    .copyright {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 740px) {
    .contacts {
        margin-left: 10px;
        width: 100%;
    }
    
    .socials {
        width: 100%;
    }
    
}

@media only screen and (max-width: 500px) {
    .footer {
        height: 200px;
        flex-direction: column;
        text-align: center;
    }

    .contacts {
        margin-left: 0px;
        margin: 15px 0px;
    }

    .socials {
        justify-content: center;
    }

    .copyright {
        margin-top: 15px;
    }
}