/****** FONTS ******/

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('trebuc.woff') format('woff');
    }

/****** BODY ******/

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

html, body { /* footer positioning  */
    height: 100%;
  }

body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: white;
    display: flex; /* footer positioning  */
    flex-direction: column; /* footer positioning  */
}

.black_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
    color: white;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.red_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
    color: white;
    background-color: #F8585A;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.blue_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
    color: white;
    background-color: #2493BD;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/****** NAV ******/

.navbar-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2493BD;
}

.gp-logo {
    margin: 20px 20px;
    font-size: 35px;
    color: white;
}

.gp-logo a:hover {
    color: white !important;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin-right: 10px;
    padding: 0.5rem;
    display: block;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

nav a:hover {
    background-color: white;
    transition: .5s;
    text-decoration: none;
    color: black;
}

.togglebtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.togglebtn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/****** HOME ******/

/* .COVID AD CONTENT */
.covid_ad {
    display: flex;
    align-self: center;
    height: 400px !important;
    width: 80%;
    margin: 40px 0px 40px 0px;
    background-image: url("virus.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.block {
    height: 400px;
    width: 100%;
}

.covid_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.covid_ad h1 {
    margin-bottom: 40px;
}

.covid_ad p {
    margin-bottom: 40px;
    font-size: 1.2rem;
    padding-right: 10px;
}

/* .COVID INFO CONTENT */

.covid_info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.covid_info h2 {
    color: black;
    margin-bottom: 20px;
    flex-wrap: wrap;
    text-align: center;
}


/* .APP PROMPT CONTENT */

.app_prompt {
    display: flex;
    align-items: center;
    background-color: #2493BD;
    height: 600px;
    margin-top: 60px;
}

.appointment_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}

.appointment_text h1 {
    margin-bottom: 40px;
}

.appointment_text p {
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.appointment_text input {
    height: 50px;
    width: 500px;
    color: white;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.appointment_image {
    display: flex;
    height: inherit;
    width: 800px;
    background-image: url("book_online.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* .FLU AD CONTENT */

.flu_ad {
    display: flex;
    align-self: center;
    height: 300px;
    width: 80%;
    margin-top: 60px;
    background-color: black;
}

.flu_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flu_content h1 {
    margin-bottom: 30px;
}

.flu_content p {
    margin: 0px 60px 40px 60px;
    font-size: 1.2rem;
}


/* .PRESC PROMPT CONTENT */

.presc_test_prompts {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.presc_prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: #2493BD;
    height: 400px;
    border-right: black 1px solid;
}

.presc_prompt h1 {
    margin-bottom: 40px;
}

.presc_prompt p {
    margin: 0px 40px 40px 40px;
    font-size: 1.1rem;
}


/* .TEST PROMPT CONTENT */

.test_prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: #2493BD;
    height: 400px;
    border-left: black 1px solid;
}

.test_prompt h1 {
    margin-bottom: 40px;
}

.test_prompt p {
    margin: 0px 40px 40px 40px;
    font-size: 1.1rem;
}



/****** APPOINTMENTS ******/

/* .APPOINTMENTS CONTENT */

.appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 60px 40px 60px;
}

.appointments h1, .appointments p {
    color: black;
}

.appointments h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.appointments p {
    font-size: 1.2rem;
}

hr {
    width: 80%;
    align-self: center;
}


/* .MED APP CONTENT */

.medical_appointments {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.me_block {
    display: flex;
    height: 300px;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2493BD;
}

.me_block h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.me_block p {
    margin: 0px 40px 30px 40px;
    font-size: 1.1rem;
}


/* .ADMIN ENQUIRY CONTENT */

.admin_enquiry {
    display: flex;
    margin-top: 20px;
}

.ae_block {
    display: flex;
    height: 300px;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2493BD;
}

.ae_block h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.ae_block p {
    margin: 0px 40px 30px 40px;
    font-size: 1.1rem;
}


/* .FLU APP CONTENT */

.flu_appointment {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}

.flu_block {
    display: flex;
    height: 300px;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2493BD;
}

.flu_block h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.flu_block p {
    margin: 0px 40px 30px 40px;
    font-size: 1.1rem;
}



/****** FORM ******/
/* .FORM CONTENT */
.background {
    background-image: url('computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    display: block;
    flex-direction: column;
    padding: 50px 0px;
    color: black;
}

.medical_form h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.appointment_form_content {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    font-size: 1.2rem;
    padding: 20px 30px;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.7);
}

.input_length {
    width: 500px;
}

.medical_form textarea {
    min-height: 100px;
    max-height: 200px;
}

.medical_form .button {
    color: white;
    background-color: #2493BD;
    font-size: 1.2rem;
    cursor: pointer;
}

/* .THANKS CONTENT */

#thanks {
    height: 470px;
    display: none;
    text-align: center;
    padding: 50px 0px;
    color: black;
}

.thanks_content {
    display: inline-block;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.7);
}

.thanks_content p {
    font-size: 1.2rem;
}

/****** FOOTER ******/

.footer_push {
    flex: 1 0 auto; /* footer positioning  */
  }

footer {
    background-color: #000000;
    color: white;
}

.footer {
    height: 170px;
    flex-shrink: 0; /* footer positioning  */
    display: flex;
    align-items: center;
}

.contacts {
    margin-left: 20px;
    width: 30%;
}

.contacts h2 {
    font-size: 1.4rem;
    margin-bottom: 6px;
}

.pin img, .email img, .phone img {
    height: 20px;
}

.pin, .email, .phone {
    margin-bottom: 6px;
}

.socials {
    width: 68%;
    display: flex;
    justify-content: flex-end;
}

.copyright {
    display: flex;
    justify-content: center;
}